<h1>Nuevo Heroe <small>Agregar</small> </h1>
<div fxLayout="row"
     fxLayout.xs="column"
     fxLayoutGap="30px">

  <div fxFlex="50">
    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field fxFlex="50">
        <mat-label>Super Héroe</mat-label>
        <input matInput type="text" required [(ngModel)]="heroe.superhero">
      </mat-form-field>

      <mat-form-field fxFlex="50">
        <mat-label>Alter Ego</mat-label>
        <input matInput type="text" required [(ngModel)]="heroe.alter_ego">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field fxFlex="100">
        <mat-label>Primera aparición</mat-label>
        <input matInput type="text" required [(ngModel)]="heroe.first_appearance">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field fxFlex="100">
        <mat-label>Personajes</mat-label>
        <input matInput type="text" required [(ngModel)]="heroe.characters">
      </mat-form-field>
    </div>


    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field fxFlex="100" appearance="fill">
        <mat-label>Personajes</mat-label>
        <mat-select placeholder="Selecciona un creador" [(ngModel)]="heroe.publisher">
            <mat-option *ngFor="let publisher of publishers" [value]="publisher.id" >
              {{publisher.desc}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <button mat-raised-button color="accent" (click)="save()">
        Agregar
      </button>
      <a mat-raised-button color="warn" routerLink="heroes/list">
        Cancelar
      </a>
    </div>


  </div>

  <div fxFlex="50">
    <img [src]="heroe | imagen" class="img-fluid">
  </div>

</div>
